body {
    margin: 0px;
    font-family: 'Lato', sans-serif !important;
}

.board-row {
    display: block;
    padding: 1px;
}

.board-cell {
    width: 105px;
    height: 105px;
    margin: 3.2px;
    float: left;
    font-size: 30px;
    font-weight: 700;
}

.board-cell p {
    position: relative;
    top: 24%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
